EMAIL_SERVER="smtp://username:password@smtp.example.com:587"
EMAIL_FROM="noreply@example.com"
AUTH_SECRET=openssl rand -hex 32
POSTGRES_PRISMA_URL="postgres://user:password@host.example.com/database?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://user:password@host.example.com/database"
